<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>headerFooterServlet</servlet-name>
        <servlet-class>servletPackages.headerFooterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUser</servlet-name>
        <servlet-class>servletPackages.getUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllUsers</servlet-name>
        <servlet-class>servletPackages.getAllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newUser</servlet-name>
        <servlet-class>servletPackages.newUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isLogin</servlet-name>
        <servlet-class>servletPackages.isLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>servletPackages.profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logServlet</servlet-name>
        <servlet-class>servletPackages.logServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registServlet</servlet-name>
        <servlet-class>servletPackages.registServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>headerFooterServlet</servlet-name>
        <url-pattern>/headerFooterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUser</servlet-name>
        <url-pattern>/getUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllUsers</servlet-name>
        <url-pattern>/getAllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newUser</servlet-name>
        <url-pattern>/newUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isLogin</servlet-name>
        <url-pattern>/isLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logServlet</servlet-name>
        <url-pattern>/logServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registServlet</servlet-name>
        <url-pattern>/registServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
